defaults:
    run:
        shell: bash --noprofile --norc -o errexit -o nounset -o pipefail -o xtrace {0}
jobs:
    check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: bash .biobuddies/includes.bash forceready

            - run: |
                  source .biobuddies/includes.bash \
                  && a \
                  && just pcam --color always --show-diff-on-failure

            - run: |
                  source .biobuddies/includes.bash \
                  && a \
                  && uv run python manage.py check

            - run: |
                  source .biobuddies/includes.bash \
                  && a \
                  && uv run python manage.py makemigrations --check --dry-run

on:
    pull_request:
    push:
        branches:
            - main
    workflow_dispatch:
run-name: Checking on behalf of ${{ github.actor }}
